@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(207deg, rgb(18, 17, 15) 30%, rgb(92, 94, 91) 77%);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

.header {
  text-align: center;
  margin: 1rem;
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  color: azure;
}
.app {
  display: grid;
  place-content: center;
  margin: 1rem auto 1rem;
  max-width: 55%;
}
.main {
  padding: 1rem;
  max-width: 100%;
}
.card {
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  box-shadow: rgba(97, 218, 251, 0.9) 5px 5px, rgba(97, 218, 251, 0.7) 10px 10px;

  background-color: white;
}
h5 {
  font-size: 1.6rem;
  font-family: "Cinzel", serif;
  color: darkred;
}

.ques-answer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.animate {
  border-radius: 50%;

  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
}
p {
  margin-top: 3px;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Pathway Gothic One", sans-serif;
  text-indent: 1.25rem;
}
